<%= form_for [current_user, @registered_application] do |f| %>
  <% if @registered_application.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h4><%= pluralize(@registered_application.errors.count, "error") %> prohibited this registered_application from being saved:</h4>
      <ul>
        <% @registered_application.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :name, "Application Name" %>
    <%= f.text_field :name, class: 'form-control', placeholder: 'Enter application name', autofocus: true %>
  </div>
  <div class="field form-group">
    <%= f.label :url, "Application URL" %><br>
    <%= f.text_field :url, class: 'form-control', placeholder: 'Enter application url' %>
  </div>
  <div class="actions form-group pull-right">
    <%= button_tag type: 'submit', class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-ok-circle"></span> Save
    <% end %>
  </div>
<% end %>
