<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="page-header">
      <h2 class="text-center"><%= @registered_application.name %></h2>
      <p class="pull-right"><%= @registered_application.url %></p>
      <br>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @registered_application.name %></h3>
        <small> <%= @registered_application.url %></small>
      </div>
      <div class="panel-body">
        <h4 class="text-center">Events</h4>
        <ul class="list-group">
          <% @events.each do |event, array| %>
            <li class="list-group-item">
              <span class="badge pull-left"><%= array.size %></span> <%= event %>
            </li>
          <% end  %>
        </ul>

        <div class="chart">
          <%= pie_chart @registered_application.events.group(:name).count %>

          <%= line_chart @registered_application.events.group_by_day(:created_at).count %>
        </div>
      </div>
      <div class="panel-footer">
        <div class="text-right">created on <%= @registered_application.created_at.strftime("%F") %></div>
      </div>
    </div>

    <%= link_to 'Back to list', user_registered_applications_path, class: 'btn btn-default' %>

    <div class="pull-right">
      <%= link_to 'Edit', edit_user_registered_application_path(current_user.id, @registered_application), class: 'btn btn-primary' %>
      <%= link_to 'Delete', [current_user, @registered_application], method: :delete, class: 'btn btn-danger' %>
    </div>

  </div>
</div>
